:root {
  --primary-color: #0f9d58;
  --background-color: #f0f3f7;
  --second-color: #9da2ad;
  --grey: #7a7a7a;
  --white: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

body,
html {
  background-color: var(--background-color);
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
  font-size: 16px;
}

.nav {
  padding: 16px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 32px;
  font-weight: 900;
  color: var(--primary-color);
}

.menu-item {
  margin-left: 16px;
  color: var(--grey);
  font-weight: 600;
  padding: 8px 20px;
  transition: 0.5s ease-in-out;
}

.menu-item:hover {
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 16px;
}

.menu .active {
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 16px;
}

.cart-btn {
  width: 50px;
  height: 50px;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.cart-btn:hover {
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 10px;
}

.fullheight {
  height: 100vh;
}

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img-fixed {
  background-attachment: fixed;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slogan {
  text-align: left;
}

.slogan h1 {
  font-size: 100px;
  color: var(--primary-color);
}

.slogan p {
  font-weight: 800;
}

.slogan button {
  padding: 16px 80px;
  border: none;
  outline: none;
  background-color: var(--background-color);
  border: 2.5px solid var(--primary-color);
  border-radius: 30px;
  color: var(--primary-color);
  font-weight: 800;
  margin: 40px 0;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.slogan button:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.fullwidth {
  width: 100%;
}

#about img {
  border-radius: 32px;
  box-shadow: rgba(98, 99, 99, 0.3) 0px 8px 24px;
}

.about-slogan {
  padding: 50px;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: rgba(98, 99, 99, 0.3) 0px 8px 24px;
  transform: translateX(-120px);
}

.about-slogan h3 {
  font-size: 27px;
  color: var(--grey);
  margin-bottom: 20px;
}

.primary-color {
  color: var(--primary-color);
}
